.container_event_list{
  display: flex;
  background-color: #343e48;
  max-height: 100%;
}
.box_1,.box_2{
  flex: 0.5;
  background-color: #343e48;
}
.box_1{
  border-right: 1px solid grey;
}
@media screen and (max-width: 900px) {
  .container_event_list{
    flex-direction: column;
  }
}
